body {
    background: rgb(212, 212, 212);
}

body h1 {
    text-align: center;
}

#drawingCanvas {
    border: 2px dashed black;
    width: 800px;
    height:600px;
    display: block;
    margin: 10px auto;
    background-color: darkgrey;
  }

#clearCanvas {
    display: block;
    background-color: aquamarine;
    margin: auto;
    border-radius: 8px;
    /* padding: 10px; */
}