html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.container {
    font-family: Arial, sans-serif;
    width: 410px;
    padding: 30px;
    text-align: center;
    background-color: rgb(233, 251, 251);
    box-shadow: 0 0 40px rgb(165, 249, 255, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}


button {
    padding: 10px 20px;
    background-color: #4cafad;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}
button:hover {
    background-color: #56c3cd;
}